<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Meet-Up-Event-Planner</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" ng-hide="contacts">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>


<form ng-submit="addGuest()">
<div class="container row" ng-show="!showGuestForm">
<div class="col-md-5">
  <div class="hero-unit">
    <h2>Guest List</h2>
  </div>

  <form class="form-horizontal" >
    <legend>Add a new guest</legend>

    <div class="control-group">
      <label class="control-label">Event name:</label>

      <div class="controls">
        <input ng-model="event_name" type="text">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">First name:</label>

      <div class="controls">
        <input ng-model="guest_first_name" type="text">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Last name:</label>

      <div class="controls">
        <input ng-model="guest_last_name" type="text">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Email:</label>

      <div class="controls">
        <input ng-model="guest_email" type="text">
      </div>
    </div>
    <div  >
      <div>
        <button type="button"class="btn btn-default gl-btn" ng-click="addGuest()" >Add</button>
      </div>
    </div>
  </form>
</div>

<div class="col-md-7" >
  <h3>Guests</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          Email
        </th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="guest in guests">
          <td>
            {{guest.guest_first_name}}
          </td>
          <td>
            {{guest.guest_last_name}}
          </td>
          <td>
            {{guest.guest_email}}
          </td>

          <td>
            <button class="btn btn-danger" ng-click="removeGuest(guest)">Delete</button>
          </td>
        </tr>

      </tbody>

  </table>
  <div class=" ">
    <button  type="submit"class="btn btn-default gl-btn" ng-click="">Close</button>
  </div>
</div>

</div>
</form>
