<div class="container" ng-controller="LoginCtrl">
    <nav class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#">Meet-Up-Event-Planner</a>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="row">
        <form ng-submit="vm.loginVerify()">
            <div class="col-md-offset-4 col-md-3">
                <div class="form-login">
                    <h4>Welcome back.</h4>

                    <input type="email" id="email" class="form-control input-sm chat-input" placeholder="Email" ng-model="vm.email" />
                    </br>
                    <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="Password" ng-model="vm.password" />
                    </br>
                    <div class="wrapper" type="submit">
                        <span class="group-btn">
                <a ng-click = 'vm.loginVerify()' class="btn btn-primary btn-md" >login <i class="fa fa-sign-in"></i></a>
            </span>
                    </div>
                    <div class="wrapper">
                        <span class="group-btn">
                <a href="#!/register" class="btn btn-primary btn-link">Register<i class="fa fa-sign-in"></i></a>
            </span>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>
