<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Meet-Up-Event-Planner</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" ng-hide="contacts">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>


<form ng-submit="addGuest()">
    <div class="container row" ng-show="!showGuestForm">
        <div class="col-md-5">
            <div class="hero-unit">
                <h2>Guest List</h2>
            </div>

            <form class="form-horizontal">
                <legend>Add a new guest</legend>

                <form class="control-group">
                    <label for="repeatSelect">Event name:</label>
                    <select name="repeatSelect" id="repeatSelect" ng-model="selected" ng-change="changeSelectedItem()">
            <option  ng-repeat="event in events" ng-selected="selected">{{event.$id}}</option>
          </select>
                    <!-- <h1>You selected: {{selected}}</h1> -->
                    <!-- <div class="controls">
        <input ng-model="event_name" type="text">
      </div> -->
                </form>

                <div class="control-group">
                    <label class="control-label">First name:</label>

                    <div class="controls">
                        <input ng-model="guest_first_name" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Last name:</label>

                    <div class="controls">
                        <input ng-model="guest_last_name" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email:</label>

                    <div class="controls">
                        <input ng-model="guest_email" type="text">
                    </div>
                </div>
                <div>
                    <div>
                        <button type="button" class="btn btn-default gl-btn" ng-click="addGuest()">Add</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-7">
            <h3>Guests</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Event Name
                        </th>
                        <!-- <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          Email
        </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in events">
                        <td>
                            {{event.$id}}
                        </td>

                        <!-- <td>
            {{event.guest_first_name}}
          </td>
          <td>
            {{event.guest_last_name}}
          </td>
          <td>
            {{event.guest_email}}
          </td> -->

                    </tr>

                </tbody>

            </table>
            <div class=" ">
                <a href="#!/contacts"><button  type="submit"class="btn btn-default gl-btn" ng-click="">Close</button></a>

            </div>
        </div>

    </div>
</form>
